<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="it.storelink.saluber.services" />

    <context:annotation-config />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>org.postgresql.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:postgresql://localhost:5432/saluber_db</value>
        </property>
        <property name="username">
            <value>SALUBER</value>
        </property>
        <property name="password">
            <value>SALUBER</value>
        </property>
    </bean>

    <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="it.storelink.saluber.services.model" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="emf" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="patientDAO" class="it.storelink.saluber.services.dao.PatientDAO"/>
    <bean id="doctorDAO" class="it.storelink.saluber.services.dao.DoctorDAO"/>
    <bean id="stationDAO" class="it.storelink.saluber.services.dao.StationDAO"/>
    <bean id="bookingDAO" class="it.storelink.saluber.services.dao.BookingDAO"/>
    <bean id="specializationDAO" class="it.storelink.saluber.services.dao.SpecializationDAO"/>
    <bean id="medicalTestDAO" class="it.storelink.saluber.services.dao.MedicalTestDAO"/>
    <bean id="hospitalDAO" class="it.storelink.saluber.services.dao.HospitalDAO"/>

    <bean id="slotDAO" class="it.storelink.saluber.services.dao.SlotDAO"/>
    <bean id="dayDAO" class="it.storelink.saluber.services.dao.DayDAO"/>
    <bean id="monthDAO" class="it.storelink.saluber.services.dao.MonthDAO"/>
    <bean id="userDAO" class="it.storelink.saluber.services.dao.UserDAO"/>

    <bean id="personService" class="it.storelink.saluber.services.service.BookingService" >
        <property name="bookingDAO" ref="bookingDAO"/>
        <property name="stationDAO" ref="stationDAO"/>
        <property name="doctorDAO" ref="doctorDAO"/>
        <property name="patientDAO" ref="patientDAO"/>
        <property name="specializationDAO" ref="specializationDAO"/>
    </bean>

    <bean id="examinationService" class="it.storelink.saluber.services.service.ExaminationService" >
        <property name="bookingDAO" ref="bookingDAO"/>
        <property name="medicalTestDAO" ref="medicalTestDAO"/>
        <property name="examinationDAO" ref="examinationDAO"/>
    </bean>

    <bean id="referenceEntityService" class="it.storelink.saluber.services.service.ReferenceEntityService" >
        <property name="hospitalDAO" ref="hospitalDAO"/>
        <property name="medicalTestDAO" ref="medicalTestDAO"/>
        <property name="specializationDAO" ref="specializationDAO"/>
    </bean>

    <bean id="doctorService" class="it.storelink.saluber.services.service.DoctorService" >
        <property name="doctorDAO" ref="doctorDAO"/>
    </bean>

    <bean id="patientService" class="it.storelink.saluber.services.service.PatientService" >
        <property name="patientDAO" ref="patientDAO"/>
    </bean>

    <bean id="calendarService" class="it.storelink.saluber.services.service.CalendarService" >
        <property name="monthDAO" ref="monthDAO"/>
        <property name="dayDAO" ref="dayDAO"/>
        <property name="slotDAO" ref="slotDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="userService" class="it.storelink.saluber.services.service.UserService">
        <property name="userDAO" ref="userDAO" />
    </bean>

</beans>